## NetBeans specific
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## Java specific
*.class

## netbeans ignore personal stuff 
/SmartPod/nbproject/private/

## Generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## Jade
SmartPod/APDescription.txt
SmartPod/MTPs-Main-Container.txt

## Cross platform project ignore
SmartPod/nbproject/project.properties

